

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for msg in messages %}
                <div class="alert alert-info text-center mb-3" role="alert">
                    <p>{{ msg }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<style>
    .alert {
        text-align: center;
        font-size: 1.25rem; /* Base font size */
        padding: 5px 15px; /* Adjust padding for spacing */
    }
    @media (max-width: 576px) {
        .alert {
            font-size: 1rem; /* Decrease font size on smaller screens */
        }
    }
</style>
    
{% endblock %}
