
hostel_management/hotel_management/__pycache__/urls.cpython-312.pyc
hostel_management/notification/__pycache__/views.cpython-312.pyc
hostel_management/hotel_management/__pycache__/settings.cpython-312.pyc
/hostel_management/hotel_management/__pycache__
/hostel_management/notification/__pycache__
/hostel_management/notification/__pycache__
